# General
.env
.env_json

# Python
__pycache__/
.venv/
.idea/

# TypeScript
node_modules/

# Logs
*.log

# Compiled files
*.tsbuildinfo

# Terraform state
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

# Terraform working directory
terraform/.terraform

# Terraform lock file
terraform/.terraform.lock.hcl