rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /share/{file} {
      allow read, write: if request.auth != null;
    }
  }
}

// Deploy with: firebase deploy --only firestore