<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap" rel="stylesheet">
    {#    <script src="https://kit.fontawesome.com/8bf0615b48.js" crossorigin="anonymous"></script>#}
    <link href='https://cdn.boxicons.com/3.0.3/fonts/basic/boxicons.min.css' rel='stylesheet'>
    <link href='https://cdn.boxicons.com/3.0.3/fonts/brands/boxicons-brands.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/assets/css/root.css">
    {% block head %}{% endblock %}
</head>
<body>
{#<div class="position-fixed" style="top:1rem; right:1rem; z-index:1050;">#}
{#    <button class="btn top-50 start-50" type="button">#}
{#        <i class="bxl bx-linkedin d-flex align-items-center justify-content-center p-0"></i>#}
{#    </button>#}
{#</div>#}

<div class="container">
    {% block body %}{% endblock %}
</div>
<script src="/assets/js/root.js"></script>
</body>
</html>