{% macro nav_link(endpoint, text, extra_li_classes="", extra_a_classes="" ) %}
    {% if request.path == endpoint %}
        <li class="nav-item {{ extra_li_classes }}"><a class="nav-link active {{ extra_a_classes }}" aria-current="page" href="{{ endpoint }}">{{ text }}</a>
        </li>
    {% else %}
        <li class="nav-item {{ extra_li_classes }}"><a class="nav-link {{ extra_a_classes }}" href="{{ endpoint }}">{{ text }}</a></li>
    {% endif %}
{% endmacro %}

{% macro nav_drop_header(endpoint, text) %}
    {% if request.path.startswith(endpoint) %}
        <a class="nav-link dropdown-toggle active" href="{{ endpoint }}">
            {{ text }}
        </a>
    {% else %}
        <a class="nav-link dropdown-toggle" href="{{ endpoint }}">
            {{ text }}
        </a>
    {% endif %}
{% endmacro %}

{% macro nav_drop_link(endpoint, text) %}
    <li><a class="dropdown-item" href="{{ endpoint }}">{{ text }}</a></li>
{% endmacro %}