{% extends 'base.html' %}
{% block title %}
    Home
{% endblock %}

{% block body %}
    <h1>Hello World! This is my website!</h1>
    <h3>
        <a href="/projects/">Projects</a>
    </h3>
    <p>Featured projects:</p>
    <ul>
        <li>
            <a href="/projects/mlmp/">Main Line Math Project</a>
        </li>
        <li>
            <a href="/projects/jball/">J-Ball Basketball</a>
        </li>
        <li>
            <a href="/projects/latin/">Latin Translator</a>
        </li>
        <li>
            etc.
        </li>
    </ul>
    <h3><a href="/about-me/">About Me</a></h3>
    <h3><a href="/contact/">Contact Me</a></h3>
    <h3><a href="/share/">File & Text Sharing</a></h3>
    <h3><a href="/scheduler/">Class Scheduling Utility</a></h3>
    <h3><a href="/me-rn/">me rn (spotify, etc.)</a></h3>
    <h3><a href="/chat/"></a></h3>
    <h3><a href="/insomnia/">Insomnia Cookies Deals</a></h3>
    <h3><a href="/nutrislice/">Nutrislice Tracker</a></h3>

{% endblock %}